<a href="https://colab.research.google.com/github/TakiyaGenji2/Suzuran/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#import the pandas Library
import pandas as pd

ipl_data= {'Team':['riders','riders','devils','devils','kings','kings','kings','kings','riders','royals','royals','riders'],
           'Rank':[1,2,2,3,3,4,1,1,2,4,1,2],
           'Year':[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
           'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df=pd.DataFrame(ipl_data)
print(df)

      Team  Rank  Year  Points
0   riders     1  2014     876
1   riders     2  2015     789
2   devils     2  2014     863
3   devils     3  2015     673
4    kings     3  2014     741
5    kings     4  2015     812
6    kings     1  2016     756
7    kings     1  2017     788
8   riders     2  2016     694
9   royals     4  2014     701
10  royals     1  2015     804
11  riders     2  2017     690